parameters:
  ignoreErrors:
  - '#Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition.*#'
  - '#Class EWZ\\Bundle\\RecaptchaBundle\\.* not found.#'
  - '#Instantiated class EWZ\\Bundle\\RecaptchaBundle\\.* not found.#'
  - '#Call to method get.* on an unknown class Symfony\\Component\\Security\\Core\\User\\UserInterface.*#'
