parameters:
  level: 8
  paths:
    - bin/
    - config/
    - src/
  ignoreErrors:
    - '#Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition.*#'
    - '#Class Karser\\Recaptcha3Bundle\\.* not found.#'
    - '#Instantiated class Karser\\Recaptcha3Bundle\\.* not found.#'
